<!DOCTYPE html>
{%extends "base.html"%}
{%block title%}
Корзина товаров
{%endblock%}
{%block main%}
<h1>Корзина товаров</h1>
{{orders}}
{%for dish in orders.dishes.all%}
{{dish.name}}--{{dish.price}}грн.
{%endfor%}

</br>
<table>
    <thead>
    <tr>
        <th> Dish </th>
        <th align="right"> Count </th>
        <th> Price </th>
        <th> Delete </th>
    </tr>
    </thead>
    <tbody>

    {%for dish in orders.dishes.all%}
    <tr>

        <td> {{dish.name}}</td>
        <td class="number" align="center">
            <form action="/order/" method="post">{% csrf_token %}
                <input  type="hidden"  value = {{dish.id}} hidden name = "dish_id">
            <input type = 'number' name = "new_count" value="{{dish.count}}" >
            </form>
         </td>
        <td class="num"> {{dish.price}} грн.</td>
        <td><form action="/order/" method="post">
                 <input name="dish_id" value="{{dish.id}}" hidden>
                  <a href="/del_dish/{{dish.id}}" class="btn btn-warning btn-sm" role="button"> DELETE </a>

        </form>
            </td>

   {% endfor %}

    <tr class="total">
        <td> Total</td>
         <td class="num">Мой заказ: {{orders.full_price }}  грн.</td>



    </tbody>
</table>
<a href="/order/shipping_form" class="btn btn-warning btn-sm" role="button"> ОФОРМИТЬ ЗАКАЗ </a>

{%endblock%}